.main {
    display: inline-flex;
    align-content: center;
}

.items {
  min-width: 300;
}

.css-1oqqzyl-MuiContainer-root {
  justify-content: center;
}

@media (max-width: 450px) {
    .main {
      flex-direction:column;
    }
    .items {
      min-width: 250;
    }
  }