.App {
  text-align: center;
}

.input {
  align-content: center;
  flex-direction: column;
}

.MuiContainer-root {
  background-color: lightgray;
}

.MuiGrid-container {
  background-color: lightgray;
}

.MuiInputBase-formControl {
  background-color: white;
}

div > div:nth-child(3) > div > button > div {
  background-color: white;
}

.content {
  background-color: darkslategray;
  color: aliceblue;
  font-size: 15%;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  text-align: center;
}

@media (max-width: 700px) {
  .input {
    flex-direction: column;
  }
}